

### MAVEN ###
.mvn/
mvnw.cmd
mvnw
applications/
target/
logs/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**


### STS ###
*.log
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.apt_generated
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml

/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
manifest.yml
overridedb.*
target
transaction-logs
.flattened-pom.xml

# Package Files #
*.jar
*.war
*.ear

*.class
/nbproject/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Gradle ###
# Exclude Folder List #
.gradle/
build/
